body {
     background: url("https://previews.123rf.com/images/grapestock/grapestock1501/grapestock150100047/35230476-cuadros-y-gr%C3%A1ficos-sobre-la-torre-y-mapa-de-fondo-financiero-y-de-negocios.jpg") no-repeat center center fixed; 
     background-size: cover;
     width: 100%; 
     height: auto; 
}
h1, h2  {
  background-color: #0074C7 ;
  color: aliceblue;
  padding: 0.5rem ;
  border-radius: 0.2em;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.conceptos {
  color: aliceblue;
  height: 25px;
}